.hero__container {
    width: 100%;
    height: 606px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width: 1200px) {
        height: 738px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.hero__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    order: 2;

    @media screen and (min-width: 1200px) {
        order: 1;
    }
}

h1 {
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;

        @media screen and (min-width: 1200px) {
            font-size: 60px;
        }
}

.hero__text {
    width: 55%;
    color: #E7F7F8;
    font-weight: 400;
    font-size: 16px;

    @media screen and (min-width: 1200px) {
        width: 80%;
    }
}

.hero__input-wrapper {
    position: relative;
    width: 343px;

    @media screen and (min-width: 1200px) {
        width: 500px;
    }
}

.hero__input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: #201A4F;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 130px;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
        height: 60px;
        font-style: 16px;
    }
}

.hero__btn {
    position: absolute;
    right: 1%;
    top: 7%;
    height: 42px;
    width: 102px;
    background-color: var(--primary-color);
    color: var(--background-color);
    text-transform: uppercase;
    border: none;
    padding: 11px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s ease;

    @media screen and (min-width: 1200px) {
        height: 52px;
        width: 109px;
    }
}

.hero__img {
    order: 1;

    @media screen and (min-width: 1200px) {
        order: 2;
    }
}