.deals__container {
    height: 604px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.deals__title {
    color: #fff;
    font-size: 28px;

    @media screen and (min-width: 1200px) {
        font-size: 44px;
    }
}

.deals__state {
    font-weight: 400;
    font-size: 14px;
    color: #35FF9E;
}

.deals__state::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #35FF9E;
    border-radius: 50%;
    margin-right: 8px;
}

.deals__list {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
}


