.about {
    background: #fff;
}
.about__container {
    width: 100%;
    height: 587px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 50px;
    
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 424px;
    }
}

.about__title {
    font-size: 28px;
    margin-bottom: 15px;

    @media screen and (min-width: 1200px) {
        font-size: 44px;
    }
}

.about__text {
    width: 343px;
    font-weight: 400;
    font-size: 16px;
    color: var(--background-color);

    @media screen and (min-width: 1200px) {
        width: 413px;
    }
}

.about__box {
    width: 356px;
    height: 218px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #6A54FF;

    @media screen and (min-width: 1200px) {
        width: 631px;
        height: 244px;
        margin-left: 20px;
    }
}

.about__white-text {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
        font-size: 28px;
    }
}

.about__wrapper-input {
    position: relative;
}

.about__input {
    width: 324px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: #4A3BB3;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding-left: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
    
    @media screen and (min-width: 1200px) {
        width: 498px;
        height: 60px;
        font-style: 16px;
        padding-right: 130px;
    }
}

.about__btn {
    height: 52px;
    width: 324px;
    background-color: var(--primary-color);
    color: var(--background-color);
    text-transform: uppercase;
    border: none;
    padding: 11px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    transition: background 0.3s ease;

    @media screen and (min-width: 1200px) {
        position: absolute;
        right: 1%;
        top: 7%;
        width: 165px;
    }
}

