.header {
    border-bottom: 1px solid var(--background-color);
    padding: 16px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @media screen and (min-width: 1200px) {
        padding: 16px 60px;
        margin-bottom: 0;
    }
}

.header__nav {
    display: none;
    gap: 24px;
    margin-left: 9%;
    margin-right: 3%;

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.header__nav.mobile-open {
    display: flex;
}

.header__link {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s ease;
}

.header__link:hover {
    color: var(--primary-color);
}

.header__btn-wrapper {
    display: none;
    gap: 16px;

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.burger {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.burger span {
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 2px;
}

.burger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.header__btn-login {
    background-color: transparent;
    color: var(--primary-color);
    text-transform: uppercase;
    border: 1.5px solid var(--primary-color);
    padding: 11px 24px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s ease;
}

.header__btn-signup {
    background-color: var(--primary-color);
    color: var(--background-color);
    text-transform: uppercase;
    border: 1px solid var(--primary-color);
    padding: 11px 24px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s ease;
}

.header__button:hover {
    background-color: #0097a7;
}

.header__burger-menu {
    width: 375px;
    height: 636px;
    background-color: #6A54FF;
    color: #fff;

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #6A54FF;
    z-index: 999;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.mobile-menu__close {
    background: none;
    border: none;
    color: white;
    font-size: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.mobile-menu__nav {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 24px;
}

.mobile-menu__link {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

.mobile-menu__buttons {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}

.header__btn-login-burger,
.header__btn-signup-burger {
    padding: 14px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.header__btn-login-burger {
    border: none;
    border-radius: 3px;
    color: var(--background-color);
    background-color: #57E1FF;
    width: 163px;
    height: 52px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;

}

.header__btn-signup-burger {
    color: #57E1FF;
    border: 1px solid #57E1FF;
    background: transparent;
    width: 163px;
    height: 52px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

