.stats__trapezoid {
    width: 70%;
    height: 30px;
    background: #fff;
    clip-path: polygon(0 0, 75% 0 , 80% 100%, 0% 100%);

    @media screen and (min-width: 1200px) {
        width: 60%;
        height: 60px;
        clip-path: polygon(0 0, 75% 0, 80% 100%, 0% 100%);
    }
}

.stats {
    background-color: #fff;
    padding-bottom: 60px;
}

.stats__container {
    width: 100%;
    height: 368px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 50px;
    
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 220px;
    }
}

.stats__wrapper-title {
    align-self: flex-start;
    padding-top: 40px;
}

.stats__center {
    display: flex;
    gap: 30px;
}

.stats__title {
    font-size: 28px;

    @media screen and (min-width: 1200px) {
        font-size: 44px;
    }
}

.stats__text {
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.stats__name {
    text-transform: uppercase;
    width: 60%;

    @media screen and (min-width: 1200px) {
        width: 100%;
    }
}

.stats__figure {
    font-weight: 500;
    font-size: 35px;
    text-transform: uppercase;
    color: #6A54FF;

    @media screen and (min-width: 1200px) {
       font-size: 60px;
    }
}