:root {
  --primary-color: #57E1FF;
  --text-color: #030718;
  --background-color: #030718;
  --secondary-bg: #6A54FF;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--background-color);
  /* color: var(--text-color); */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Links, Buttons */
a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  background: none;
}

span {
  color:#fff;
  font-weight: 400;
  font-size: 14px;
}

h2 {
  font-weight: 700;
  font-size: 44px;
  text-transform: uppercase;
}

/* ===== Utility classes (зручно для адаптиву/повторного використання) ===== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding: 80px 0;
}

.text-center {
  text-align: center;
}

/* a {
  font-weight: 500;
  color: red;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
