:root {
  --primary-color: #57E1FF;
  --text-color: #030718;
  --background-color: #030718;
  --secondary-bg: #6A54FF;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--background-color);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  background: none;
}

span {
  font-weight: 400;
  font-size: 14px;
}

h2 {
  font-weight: 700;
  font-size: 44px;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding: 80px 0;
}

.text-center {
  text-align: center;
}
